AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Resources:
  TriggerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: cron-cloud-nuke-sandbox-account
      PackageType: Image
      Timeout: 300
      Architectures:
      - x86_64
      Events:
        ScheduledEvent:
          Name: DailyAt7PMUTC
          Type: Schedule
          Properties:
            Schedule: cron(0 19 * * ? *)      
    Metadata:
      DockerTag: pmoros-cloud-nuke-v0.1
      DockerContext: .
      Dockerfile: Dockerfile
